<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="property">{{ property.headline }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="property">
    <ion-item>
        <div  class="wrapper">
            <div class="headline-price">
                <div class="address">
                    <ion-icon name="pin" color="primary"></ion-icon>
                    <ion-text color="medium">
                        {{ property.address }}
                    </ion-text>   
                </div>
                <ion-chip color="success">
                    <ion-label class="price" color="success">${{ property.price }}</ion-label>
                </ion-chip>
            </div>

            <div class="address">
                <ion-icon name="alarm" color="primary"></ion-icon>
                <ion-text color="medium">
                    {{ property.duration }} days
                </ion-text>
            </div>

            <div class="description">
                {{ property.description }}
            </div>



            <div class="amenities">
                <ion-chip color="primary" *ngFor="let p of property.amenities.split(', ')">
                    <ion-label color="white" >{{p}}</ion-label>
                </ion-chip>
            </div>




        </div>
    </ion-item>


  <ion-button *ngIf="user" color="primary" expand="block" (click)="contactLister()">Interested? Contact Lister</ion-button>
  <ion-button *ngIf="!user" color="primary" expand="block" [routerLink]="['/login']">Login to Contact Lister</ion-button>
</ion-content>
