.no-properties {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.no-listings-text {
    font-size: x-large;
}

.frowny {
    font-size: 60px;
    margin-bottom: 10px;
}

.listing-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title-price {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: x-large;
}

.title-headline {
    font-size: x-large;
}

.price {
    font-size: large
}