<ion-header>
  <ion-toolbar>
    <ion-title>My Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let property of myProperties" (click)="openSpecificListing(property)">
      <div slot="start"></div>
      <ion-label class="ion-text-wrap">
        <h2>
          {{ property.headline }}
          <span class="date">
            <ion-note>{{ property.price }}</ion-note>
            <ion-icon name="chevron-forward" size="small"></ion-icon>
          </span>
        </h2>
        <h3>{{ property.description }}</h3>
        <p>
          {{ property.amenities }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
