<ion-header>
    <ion-toolbar color="light">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="authData" (ngSubmit)="authenticateUser()">
    <ion-item lines="full">
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" placeholder="Enter email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Enter password"required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button color="secondary" expand="block" (click)="goToSignUp()">Create Account Instead</ion-button>
  <ion-button color="tertiary" expand="block" (click)="continueAsGuest()">Continue As Guest</ion-button>
</ion-content>
